# Docker related files
Dockerfile

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env.example

# Git related files
README.md
.gitignore

# Local config files & folders
pytest.ini
**tests/