FERNET_KEY=your_fernet_key
AIRFLOW_UID=1000
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_postgres_pass
POSTGRES_DB=your_db_name
POSTGRES_HOST=your_host
AUTH_ACCESS_TOKEN=your_custom_token
TEST_POSTGRES_DB=your_test_db